**/node_modules
**/dist
**/build
!.npmrc
/server/.npmrc
/tooling/.npmrc
/schema/.npmrc
/functions/.npmrc
/client/.npmrc
/tooling/firestore-data/
/tooling/firebase-export-1724340784647pI43lX/
**/*.log
**/.env
**/lib/
