@expense-manager:registry=https://europe-west1-npm.pkg.dev/awesome-expense-management/expense-manager-repo/
//europe-west1-npm.pkg.dev/awesome-expense-management/expense-manager-repo/:always-auth=true